.FeedCard {
    background-color: white;
    padding: 1rem;
    padding-top: .5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .FeedCardHeader {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: .5rem;
    }

    .FeedCardContent {
        font-size: 1rem;
        padding: 0 .5rem;
    }
    
    .FeedCardFooter {
        padding: 0 .5rem;
        margin-top: .5rem;

        button {
            background-color: #007BFF;
            color: white;
            border: none;
            padding: .5rem 1rem;
            border-radius: 4px;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}

.ProfilePhoto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}